.header {
    font-family: 'Work Sans', sans-serif;
    top: 0;
    left: 0;
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    background-color: var(--header-bg-color);
    border-bottom:#5a5a5a 2px solid;
    z-index: 99;
    transition: 0.2s;
    box-sizing: border-box;
}

/* Dark and light mode buttons */
body.dark-mode #dark_mode {
    display: none;
}
body.light-mode #light_mode {
    display: none;
}
/* Default dark mode */
body:not(.dark-mode):not(.light-mode) #dark_mode {
    display: none;
}

.content-header {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.header .logo {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--header-logo-color);
}
.header .menu-toggle {
    display: none;
}
.header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    user-select: none;
    padding: 0;
}
.header nav ul li {
    list-style: none;
}
.header nav ul li a {
    color: var(--header-unselected-color);
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;  
}
.header nav ul li a:hover {
    color: var(--header-selected-color);
}

.header .cv-button {
    color: var(--cv-primary-color);
    text-decoration: none;
    border: 2px solid var(--cv-primary-color);
    border-radius: 5px;
    padding: 2px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
}
.header .cv-button:hover {
    background-color: var(--cv-primary-color);
    color: var(--cv-secondary-color);
    transition: 0.2s;
}

footer {
    text-align: center;
    user-select: none;
    padding: 25px 0;
    background-color: var(--header-bg-color);
    border-top: #636363 2px solid;
    transition: 0.2s;
}
footer a {
    text-decoration: none;
    color: var(--header-unselected-color);
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    transition: 0.2s;
}
footer a:hover {
    color: var(--header-selected-color);
}

@media screen and (max-width: 1024px) {
    .header {
        z-index: 99;
    }

    .header .menu-toggle {
        color: var(--header-unselected-color);
        display: flex;
        cursor: pointer;
        font-size: 25px;
        padding: 10px;
        transition: 0.2s;
        margin-right: 10px;
    }
    .menu-toggle:hover {
        color: var(--header-selected-color);
        border-radius: 5px;
    }

    .content-header {
        margin-left: 5%;
        margin-right: 5%;
    }
    .header nav {
        font-size: 20px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        top: 8vh;
        gap: 40px;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: var(--header-bg-color);
        position: absolute;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }
    .header nav ul.active {
        max-height: 100vh;
        border-bottom: 2px solid #5a5a5a;
        padding: 5%;
        z-index: 10;
    }

    /* Hacer que el segundo nav también sea responsive */
    .header nav:last-child ul {
        position: relative;
        top: 0;
        flex-direction: row;
        overflow: visible;
        border: none;
        gap: 10px;
    }
}