.header {
    font-family: 'Work Sans', sans-serif;
    top: 0;
    left: 0;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #313131;
    border-bottom:#5a5a5a 2px solid;
    z-index: 99;
    transition: 0.2s;
}
.header:hover {
    border-bottom: #c2c2c2 2px solid;
}

.content-header {
    display: flex;
    height: auto;
    width: 100%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    user-select: none;
}

.header .logo {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header .menu-toggle {
    display: none;
}

.header nav ul {
    display: flex;
    user-select: none;
}
.header nav ul li {
    margin: 0 10px;
    list-style: none;
}
.header nav ul li a {
    color: #c2c2c2;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;  
}
.header nav ul li a:hover {
    color: #202020;
    text-decoration: underline;
    color: white;
}

.header .cv-button {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 2px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;
}
.header .cv-button:hover {
    background-color: #fff;
    color: #313131;
    transition: 0.2s;
}

@media screen and (max-width: 1024px) {
    .header .menu-toggle {
        color: white;
        display: flex;
        cursor: pointer;
        font-size: 25px;
        padding: 10px;
        transition: 0.2s;
        margin-right: 10px;
    }
    .menu-toggle:hover {
        background-color: #5a5a5a;
        border-radius: 5px;
    }

    .content-header {
        margin-left: 5%;
        margin-right: 5%;
    }
    .header nav {
        font-size: 20px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        top: 60px;
        gap: 40px;
        left: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #313131;
        position: absolute;
        border-bottom: #5a5a5a 2px solid;
        max-height: 0;
        overflow: hidden;
    }
    .header nav ul.active {
        max-height: 100vh;
        padding: 5%;
        z-index: 1;
    }
}