/* Default HTML styles */
:root {
    --header-bg-color: #313131;
    --header-logo-color: white;
    --header-unselected-color: #c2c2c2;
    --header-selected-color: white;

    --about-me-bg-color: linear-gradient(to right, #202020, #292d4d);

    --cv-primary-color: white;
    --cv-secondary-color: black;

    --bkg-inicio: url('../media/img/bkg_dark.jpg');
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: white;
}

.dark-mode {
    background-color: #202020;
    color: white;

    --header-bg-color: #313131;
    --header-logo-color: white;
    --header-unselected-color: #c2c2c2;
    --header-selected-color: white;
    --cv-primary-color: white;
    --cv-secondary-color: black;

    --about-me-bg-color: radial-gradient(circle at 50% -20%, rgba(0, 255, 247, 0.28) 0%, rgba(0, 128, 255, 0.2) 40%, rgba(22,22,22,0.95) 80%);
    --bkg-inicio: url('../media/img/bkg_dark.jpg');
}

.light-mode {
    background-color: #e2e2e2;
    color: black;

    --header-bg-color: #f0f0f0;
    --header-logo-color: black;
    --header-unselected-color: #636363;
    --header-selected-color: black;
    --cv-primary-color: black;
    --cv-secondary-color: white;

    --about-me-bg-color: linear-gradient(to top, rgba(255, 255, 255, 0.553) 10%, rgb(208, 208, 208) 40%);
    --bkg-inicio: url('../media/img/bkg_light.jpg');
}
