html
{
    background-color: #202020;
    color: white;
    scroll-behavior: smooth
}

body
{
    background-color: #202020;
    font-family: 'Space mono', sans-serif;
    margin: 0;
    padding: 0;
}

section
{
    padding: 0 150px;
    margin: 0;
}

/* Header Starts */
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #313131;
    padding: 20px 20px;
    user-select: none;
    z-index: 99;

    .logo {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px;
        color: white;
    }

    .menu-toggle {
        display: none;
    }

    nav ul {
        display: flex;
        user-select: none;
    }

    nav ul li {
        margin: 0 10px;
        list-style: none;
    }

    nav ul li a {
        color: #c2c2c2;
        padding: 3px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s;
    }

    nav ul li a:hover {
        color: #202020;
        background-color: white;
        border-radius: 5px;
    }

    .cv-button {
        color: #fff;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 5px;
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        transition: 0.2s;

        &:hover {
            background-color: #fff;
            color: #313131;
            transition: 0.2s;
        }
    }

    @media screen and (max-width: 1024px) {
        .menu-toggle {
            color: white;
            display: block;
            cursor: pointer;
            font-size: 25px;
            padding: 10px;
            margin-left: 20px;
            transition: 0.2s;

            &:hover {
                background-color: #5a5a5a;
                border-radius: 5px;
            }
        }
        
        nav ul {
            display: none;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            top: 60px;
            left: 0;
            text-align: center;
            background-color: #313131;
            border-radius: 20px;
            padding: 20px 0;
            position: absolute;
            z-index: -1;

            li {
                font-size: 30px;
                margin: 30px 0;
            }
        }

        nav ul.active {
            display: flex;
        }
    }
}
/* Header Ends */

/* Back button starts*/
.back-button a
{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    position: fixed;
    top: 120px;
    left: 40px;

    background-color: #5a5a5a;
    color: #fff;
    text-decoration: none;

    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;

    &:hover
    {
        background-color: white;
        color: black;
        transition: 0.2s;
    }
}
/* Back button ends*/

/* Contact */

.contact {
    h1 {
        font-size: 80px;
        margin-bottom: 100px;
    }
    ul li {
        font-size: 30px;
        margin-bottom: 20px;
        text-decoration: none;
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: #5a5a5a;
                background-color: white;
                border-radius: 10px;
                transition: 0.2s;
            }
        }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
}

@media screen and (max-width: 1024px)
{
    section
    {
        padding: 0 20px;
    }
    .contact
    {
        h1
        {
            font-size: 80px;
            margin-bottom: 50px;
        }
        ul li
        {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .introduction
    {
        margin: 0 10%;
    }
}