/* HTML */
html {
    background-color: #202020;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-color: #202020;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    vertical-align: middle;
}

section {
    padding: 0 150px;

    @media screen and (max-width: 1024px) {
        padding: 0 50px;
    }
}

.experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}
.experiencia h2 {
    font-size: 40px;
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
}
.experiencia ul {
    padding: 0;
    margin: 0;
}
.experiencia ul li {
    list-style: none;
    margin-bottom: 100px;
    border: 2px solid #626262;
    border-radius: 15px;
    padding: 20px;
}
.contenedor-media {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
    video {
        width: 50%;
        height: auto;
        border-radius: 15px;
        box-shadow: black 0px 0px 20px;

        &:hover {
            cursor: pointer;
        }
    }

    img {
        width: 50%;
        height: auto;
        border-radius: 15px;
        box-shadow: black 0px 0px 20px;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.btn-snr {
    display: flex;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #313131;
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
        background-color: #fff;
        color: #313131;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1024px)
{
    .experiencia ul li .contenedor-media video
    {
        width: 100%;
        height: auto;
    }
    .experiencia ul li .contenedor-media img
    {
        width: 100%;
        height: auto;
    }
}
/* Experience section ends */