/* HTML */
html {
    background-color: #202020;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-color: #202020;
    font-family: 'Space mono', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 0 150px;

    @media screen and (max-width: 1024px) {
        padding: 0 50px;
    }
}

h2 {
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;

    @media screen and (max-width: 1024px) {
        font-size: 20px;
    }
}

/* Header Starts */
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #313131;
    padding: 20px 20px;
    user-select: none;
    z-index: 99;

    .logo {
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 20px;
        color: white;
    }

    .menu-toggle {
        display: none;
    }

    nav {

        ul {
            display: flex;
            user-select: none;
        }

        ul li {
            margin: 0 10px;
            list-style: none;
        }

        ul li a {
            color: #c2c2c2;
            padding: 3px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.2s;

            &:hover {
                color: #202020;
            background-color: white;
            border-radius: 5px;
            }
        }
    }

    .cv-button {
        color: #fff;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 5px;
        margin-left: auto;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        transition: 0.2s;

        &:hover {
            background-color: #fff;
            color: #313131;
            transition: 0.2s;
        }
    }

    @media screen and (max-width: 1024px) {
        .menu-toggle {
            color: white;
            display: flex;
            cursor: pointer;
            font-size: 25px;
            padding: 10px;
            transition: 0.2s;

            &:hover {
                background-color: #5a5a5a;
                border-radius: 5px;
            }
        }

        nav {
            ul {
                display: none;
                flex-direction: column;
                top: 60px;
                left: 0;
                align-items: left;
                background-color: #313131;
                border-radius: 20px;
                position: absolute;
                z-index: -1;
            }

            ul li {
                padding: 0;
                margin: 20px 20px 20px 0; /* arriba, derecha, abajo, izquierda */
                font-size: 20px;
            }

            ul.active {
                display: inline-flex;
            }
        }
    }
}
/* Header Ends */

/* Initial section begins */
.inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inicio .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.inicio .container .content {
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        margin-bottom: 50px;
    }
    .contact-button {
        display: inline-flex;
        align-items: center;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.2s;

        &:hover {
            background-color: #fff;
            color: #313131;
            transition: 0.2s;
        }
    }
}
.inicio .container .image {
    margin-right: 50px;
    img {
    width: 300px;
    height: auto;
    border-radius: 50%;
    }
}

@media screen and (max-width: 1024px){
    .inicio
    {
        height: 100vh;

        .container {
            flex-direction: column;

            .content {
                h1 {
                    font-size: 30px;
                }
                p {
                    font-size: 15px;
                }
            }

            .image {
                margin: 0;

                img {
                    width: 200px;
                    height: auto;
                }
            }
        }
    }
}
/* Initial section ends */

/* About me section begins */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background-image: url('images/Sky.png');
    background-size: cover;
    background-position: center;

    h2 {
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 50px;
    }

    p {
        text-align: justify;
        font-size: 20px;
    }
}

/* Experiencia inicia*/
.experiencia {
    margin-top: 100px;
}
.experiencia .contenido{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border: 2px solid #636363;
    border-radius: 10px;
    padding: 20px;
}
.experiencia .contenido a{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #383838;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
        background-color: #fff;
        color: #313131;
        transition: 0.2s;
    }
}
/* Experiencia termina*/

/* Educacion inicia*/
.educacion {
    margin-top: 100px;
}
.educacion .contenido{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border: 2px solid #636363;
    border-radius: 10px;
    padding: 20px;
}
.educacion .contenido a{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #383838;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
        background-color: #fff;
        color: #313131;
        transition: 0.2s;
    }
}
/* Educacion termina*/

/* Habilidades inicia*/
.habilidades {
    margin-top: 100px;
    margin-bottom: 100px;
}
.habilidades .contenido{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
}
.habilidades .contenido ul li{
    list-style: none;
    margin-bottom: 50px;
}
.habilidades .contenido a{
    color: #8fdfff;
}
/* Habilidades termina*/

/* Footer starts */
footer {
    text-align: center;
    padding: 50px 0;
    background-color: #313131;
    color: #fff;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        transition: 0.1s;

        &:hover {
            color: black;
            background-color: white;
            border-radius: 5px;
            transition: 0.1s;
        
        }
    }
}
/* Footer ends */