/* HTML */

html
{
    background-color: #202020;
    color: white;
    scroll-behavior: smooth;
}

body
{
    background-color: #202020;
    font-family: 'Space mono', sans-serif;
    margin: 0;
    padding: 0;
}

section
{
    padding: 0 150px;
    margin: 0;
}

/* Header */

header
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #313131;
    color: #fff;
    display: flex;
    justify-content: flex-start; /* Center contents to the left */
    align-items: center; /* Center contents vertically */
    padding: 20px 20px;
    z-index: 99;
}
header .titulo
{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
header nav
{
    margin-right: auto;
}
header nav ul
{
    display: flex;
    user-select: none;
}
header nav ul li
{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

header nav ul li a
{
    color: #c2c2c2;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
header nav ul li a:hover
{
    color: #fff;
    background-color: #5a5a5a;
    border-radius: 10px;
}

header .btn-descargarcv
{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 50px;
    font-weight: bold;
    transition: 0.5s;
}
header .btn-descargarcv:hover
{
    background-color: #fff;
    color: #313131;
}

.menu-toggle
{
    display: none;
}

/* Back button */

.back-button a
{
    position: fixed;
    top: 120px;
    left: 40px;
    background-color: #5a5a5a;
    color: #fff;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

/* Title section */

.title
{
    margin-top: 20vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: rgb(255, 157, 230);
    font-weight: bolder;
    font-size: 20px; /* Adjust the value as needed */

    /* Media queries for different screen sizes */
    @media screen and (max-width: 1024px)
    {
        font-size: 10px;
    }
}
.title img
{
    width: 50%;
    height: auto;

    /* Media queries for different screen sizes */
    @media screen and (max-width: 1024px)
    {
        width: 80%;
    }
}

/* Introduction section */

.introduction
{
    margin: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    font-size: 30px;

    /* Media queries for different screen sizes */
    @media screen and (max-width: 1024px)
    {
        font-size: 20px;
    }
}

.play-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10vh 50vh 25vh 50vh;

    /* Media queries for different screen sizes */
    @media screen and (max-width: 1024px)
    {
        
        margin: 20vh 20vh 25vh 20vh;
    }
}

.play-button a
{
    color: #ff8bef;
    background-color: #7337ff;
    border: 15px solid black;
    border-radius: 80px;
    padding: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    transition: 1s;
}
.play-button a:hover
{
    color: #4c00ff;
    background-color: #ff62ea;
    transition: 0.5s;
}

.play-button p
{
    color: #a7a7a7;
}

@media screen and (max-width: 1024px)
{
    section
    {
        padding: 0 20px;
    }
    .menu-toggle
    {
        color: white;
        display: block;
        cursor: pointer;
        font-size: 25px;
        padding: 10px;
        margin-left: 20px;
        user-select: none; /* Prevent text selection */
    }
    header nav ul
    {
        display: none;
        flex-direction: column;
        background-color: #313131;
        border-radius: 20px;
        padding: 20px 0 20px 25px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -1;
        animation: dropUp 0.2s ease-in-out;
    }
    @keyframes dropDown
    {
        0%
        {
            transform: translateY(-10%);
            opacity: 0;
        }
        100%
        {
            transform: translateY(0);
            opacity: 1;
        }
    }
    header nav ul.active {
        display: flex;
        animation: dropDown 0.2s ease-in-out;
    }
    nav ul li
    {
        padding: 10px 10px;
    }
    .titulo
    {
        display: none;
    }
    .introduction
    {
        margin: 0 10%;
    }
}

/* Footer */
footer
{
    text-align: center;
    padding: 50px 0;
    background-color: #313131;
    color: #fff;
}
footer a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.1s;
}
footer a:hover
{
    color: #fff;
    background-color: #5a5a5a;
    border-radius: 10px;
    transition: 0.1s;
}
