html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    background-color: #8293ff;
    background-size: cover;
    background-position: center;
}

/*Sección de inicio*/
.inicio
{
    background-color: white;
    padding: 120px 50px 10px;
    text-align: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
}

/*Texto inicio*/
.inicio .contenido-seccion
{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

/*Foto*/
.inicio .contenido-seccion .foto img
{
    max-width: 350px;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    box-shadow: 0 0 100px #1c2875;
}

/*Opciones flotantes*/
.inicio .contenido-seccion header .nav-bar
{
    margin-left: 0%;
    position:fixed;
    background-color:white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: 0.1s;
    transform: translateY(-800%);
    box-shadow: 0 0 50px #1c2875;
}

.inicio .contenido-seccion header .nav-bar:hover
{
    box-shadow: 0 0 100px #1c2875;
}

.inicio .contenido-seccion header
{
    padding: 30px;
}

.inicio .contenido-seccion header nav
{
    position: fixed;
    margin-left: 80px;
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a
{
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido-seccion .contacto h3
{
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
    padding-top: 50px;
}

.inicio .contenido-seccion .contacto i
{
    padding-top:10px;
}

/*Sección profesional*/
.profesional
{
    background-color: white;
    padding: 50px 50px 50px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
}

.profesional .contenido-seccion
{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.profesional h4
{
    font-size: 20px;
    font-weight:bold;
}

/*Sección educación*/
.educacion
{
    background-color: white;
    padding: 50px 50px 50px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
}

.educacion .contenido-seccion
{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.educacion h4
{
    font-size: 20px;
    font-weight:bold;
}

/*Sección habilidades*/
.habilidades
{
    background-color: white;
    padding: 50px 50px 50px;
    text-align:center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
}

.habilidades .contenido-seccion h1
{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.habilidades .contenido-seccion
{
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
}