/* HTML */

html
{
    background-color: #202020;
    color: white;
    scroll-behavior: smooth;
}

body
{
    background-color: #202020;
    font-family: 'Space mono', sans-serif;
    margin: 0;
    padding: 0;
}

section
{
    padding: 0 150px;
    margin: 0;
}

h2
{
    margin-top: 0;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

/* Header */

header
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: flex-start; /* Center contents to the left */
    align-items: center; /* Center contents vertically */
    padding: 20px 20px;
    z-index: 99;
}
header .titulo
{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
header nav
{
    margin-right: auto;
}
header nav ul
{
    display: flex;
    user-select: none;
}
header nav ul li
{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

header nav ul li a
{
    color: #c2c2c2;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}
header nav ul li a:hover
{
    color: #fff;
    background-color: #5a5a5a;
    border-radius: 10px;
}

header .btn-descargarcv
{
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    margin-left: auto;
    margin-right: 50px; /* Adjust the margin-right value as needed */
    font-weight: bold;
    transition: 0.5s;
}
header .btn-descargarcv:hover
{
    background-color: #fff;
    color: #313131;
}

.menu-toggle
{
    display: none;
}

/* Initial section */

.inicio
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inicio img
{
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.inicio h1
{
    color: white;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
.inicio p
{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.inicio span
{
    color: #fff;
    font-size: 50px;
    text-align: center;
}

/* Contact section */

.contacto
{
    background-color: #202020;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin: 0 30%;
    margin-bottom: 10rem;
    border: solid rgb(99, 99, 99) 5px; /* Add border */
    border-radius: 20px; /* Rounded borders */
    box-shadow: 0 0 50px black; /* Add shadow */
}
.contacto .contenido-contacto ul li {
    color: white;
}
.contacto .contenido-contacto ul li a {
    color: white;
}

/* Experience Section */

.experiencia ul li .contenedor-media
{
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
}
.experiencia ul li .contenedor-media video
{
    width: 60%;
    height: auto;
}
.experiencia ul li .contenedor-media img
{
    width: 60%;
    height: auto;
}
.experiencia .btn-snr
{
    display: flex;
    justify-content: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    transition: 0.5s;
}
.experiencia .btn-snr:hover
{
    background-color: #fff;
    color: #313131;
}
.experiencia ul li .contenedor-media img:hover
{
    transition: 0.5s;
    opacity: 50%;
}

/* Abilities section */

.habilidades ul
{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set 4 columns */
}

.habilidades ul li
{
    background-color: #202020;
    color: white;
    margin: 0 10%;
    padding: 20px;
    display: flex; /* Add flex display */
    flex-direction: column; /* Set flex direction */
    align-items: center; /* Center vertically */
    margin-bottom: 15%;
    border: solid rgb(99, 99, 99) 5px; /* Add border */
    border-radius: 20px; /* Rounded borders */
    box-shadow: 0 0 50px black; /* Add shadow */
}

/* For different screen sizes */

@media screen and (max-width: 1024px)
{
    section
    {
        padding: 0 20px;
    }

    .inicio img
    {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }
    .inicio h1
    {
        font-size: 30px;
    }
    .inicio p
    {
        font-size: 15px;
    }

    .contacto
    {
        margin: 0 10% 5rem 10%;
        text-size-adjust: auto;
    }
    .experiencia ul li .contenedor-media video
    {
        width: 100%;
        height: auto;
    }
    .experiencia ul li .contenedor-media img
    {
        width: 100%;
        height: auto;
    }
    .menu-toggle
    {
        color: white;
        display: block;
        cursor: pointer;
        font-size: 25px;
        padding: 10px;
        margin-left: 20px;
        user-select: none; /* Prevent text selection */
    }
    
    header nav ul
    {
        display: none;
        flex-direction: column;
        background-color: #313131;
        border-radius: 20px;
        padding: 20px 0 20px 25px;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: -1;
        animation: dropUp 0.2s ease-in-out;
    }
    @keyframes dropDown
    {
        0%
        {
            transform: translateY(-10%);
            opacity: 0;
        }
        100%
        {
            transform: translateY(0);
            opacity: 1;
        }
    }

    header nav ul.active {
        display: flex;
        animation: dropDown 0.2s ease-in-out;
    }
    
    nav ul li
    {
        padding: 10px 10px;
    }
    .titulo
    {
        display: none;
    }

    .habilidades ul
    {
        padding: 0;
        margin: 0;
        display:block;
        grid-template-columns: auto;
        column-gap: 5px; /* Reduce the gap between columns */
        row-gap: 5px; /* Reduce the gap between rows */
    }
    .habilidades ul li
    {
        margin-bottom: 5%;
    }
}

/* Others */

.contacto ul,
.experiencia ul,
.educacion ul,
.habilidades ul
{
    list-style-type: none;
    padding: 0;
}

.contacto li,
.experiencia li,
.educacion li,
.habilidades li
{
    margin-bottom: 50px;
}

.contacto a,
.habilidades a
{
    text-decoration: none;
}

.contacto a:hover,
.habilidades a:hover
{
    text-decoration: underline;
}

/* Footer */
footer
{
    text-align: center;
    padding: 50px 0;
    background-color: #313131;
    color: #fff;
}
footer a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.1s;
}
footer a:hover
{
    color: #fff;
    background-color: #5a5a5a;
    border-radius: 10px;
    transition: 0.1s;
}