html
{
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    scroll-behavior:smooth;
    background-color: #8293ff;
}

/*Sección de inicio*/
.inicio
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*Navegación*/
.inicio header
{
    transition: 0.5s;
    position:fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    z-index: 2;
}
.inicio header:hover
{
    transition: 0.5s;
    background-color: #dbdfff;
    box-shadow: black 0 0 20px;
}
.inicio header .nav a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 0 50px;
    line-height: 80px;
    transition: 0.5s;
}

/*Sección Contacto*/

.inicio .contacto
{
    text-align: center;
    margin-top: 0;
}

/*Foto*/

.inicio .contacto .foto img
{
    width: auto;
    transition: 0.5s;

    border: 10px white solid;
    border-radius: 30%;
    box-shadow: 0 0 100px black;

    position:absolute;
    margin-top: -250px;
    transform:translateX(-50%);
    cursor: pointer;

    z-index: 1;
}
.inicio .contacto .foto img:hover
{
    transition: 0.5s;

    border: 10px #1c2875 solid;
    border-radius: 40%;
    box-shadow: 0 0 100px white;
}

/*Texto Inicio*/

.inicio .contacto .texto
{
    transition: 0.5s;
    padding: 120px 50px 50px;
    text-align: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 800px;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
    background-color: white;
}
.inicio .contacto .texto:hover
{
    transition: 0.5s;

    transform: scale(1.01);
    background-color: white;
}

/*Título*/

.inicio .contacto .nombre h1
{
    font-size: 40px;
    font-weight: bolder;
}
.inicio .contacto .nombre h2
{
    font-size: 20px;
    font-weight: bolder;
}

.inicio .contacto .contacto h3
{
    font-size: 30px;
    font-weight: bolder;
}

/*Sección profesional*/

.profesional
{
    background-color: white;
    padding-bottom: 100px;
}
.profesional .contenido-seccion h1
{
    transition: 0.5s;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 50px;
}
.profesional .contenido-seccion h1:hover
{
    transition: 0.5s;
    transform: scale(1.01);
    background-color: white;
    box-shadow: black 0 0 20px;
}

.profesional .contenido-seccion h4
{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.profesional .contenido-seccion p
{
    font-size: 20px;
    text-align: justify;
    padding-left: 150px;
    padding-right: 150px;
}

/*Sección educación*/

.educacion
{
    background-color: white;
    padding-bottom: 100px;
} 
.educacion .contenido-seccion h1
{
    transition: 0.5s;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bolder;
    background-color: whitesmoke;
    padding: 50px;
}
.educacion .contenido-seccion h1:hover
{
    transition: 0.5s;
    transform: scale(1.01);
    background-color: white;
    box-shadow: black 0 0 20px;
}

.educacion .contenido-seccion h4
{
    font-size: 20px;
    padding:50px;
    font-weight: bold;
    text-align: center;
}
.educacion .contenido-seccion p
{
    font-size: 20px;
    text-align: justify;
    padding-left: 300px;
    padding-right: 300px;
}

/*Sección habilidades*/

.habilidades
{
    transition: 0.5s;
    background-color: white;
    padding: 50px 50px 50px;
    text-align:center;
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    border-radius: 50px;
    box-shadow: 0 0 300px #1c2875;
}
.habilidades:hover
{
    transition: 0.5s;
    transform: scale(1.01);
    background-color: white;
}
.habilidades .contenido-seccion h1
{
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}
.habilidades .contenido-seccion
{
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 0 20px;
}